# Exception -- Specific .java files that need to be tracked.
!Compiler.java
!Error.java
!SymbolTable.java
!TcAnd.java
!TcAssign.java
!TcBranch.java
!TcCall.java
!TcFunction.java
!TcLiteral.java
!TcLoop.java
!TcNot.java
!TcOr.java
!TcProgram.java
!TcReturn.java
!TcValue.java
!TreeCode.java

# Ignore morpho assemblies and executables.
*.masm
*.mexe

# Ignore testing .morpho code.
*.morpho

.idea/*